<app-menubar></app-menubar>


<div class="bienvenida-contenedor" *ngIf="!completado">
  <h1 class="slam-title">Hola, <span>{{ nombreUsuario }}</span> ✨</h1>
  <p>Cuéntanos un poco más sobre ti en este Slam.</p>
</div>

<div class="lang-selector-container">
  <label for="langCombo" class="lang-label">
    <i class="fas fa-globe-americas"></i>
  </label>
  <select id="langCombo" [(ngModel)]="idiomaSeleccionado" (change)="obtenerTraduccionActual()" class="slam-combobox">
    <option value="es">🇪🇸 Español</option>
    <option value="fr">🇫🇷 Francés</option>
    <option value="uk">🇺🇦 Ucraniano</option>
    <option value="en">🇺🇸 Inglés</option>
    <option value="fa">🇮🇷 Persa (Farsi)</option>
  </select>
</div>

<div class="slam-container" *ngIf="!completado && preguntas.length > 0">
<div class="pregunta-box">
  <div *ngIf="cargando" class="cargando-container">
    <span class="reloj-icon">⏳</span>
    <p>Traduciendo al {{ idiomaSeleccionado }}...</p>
  </div>

  <h1 *ngIf="!cargando" class="slam-title">
    {{ idiomaSeleccionado === 'es'
       ? preguntas[preguntaActual]?.texto
       : (preguntasTraducidas[idiomaSeleccionado]?.[preguntas[preguntaActual]?.id] || '...')
    }}
  </h1>
</div>

  <div class="foto-preview" *ngIf="fotoPreview">
    <img [src]="fotoPreview" alt="Foto subida" />
  </div>

  <textarea [(ngModel)]="respuestaActual" placeholder="Escribe tu respuesta..." class="respuesta-box"></textarea>

  <div *ngIf="preguntaActual === 0" class="foto-box">
    <label class="label-file">Sube tu foto ❤️</label>
    <input type="file" (change)="onFotoSeleccionada($event)" />
  </div>

  <div class="botones">
    <button (click)="anterior()" [disabled]="preguntaActual===0" class="btn-secondary">⬅️ Atrás</button>
    <button (click)="pasar()" class="btn-tertiary">Pasar</button>
    <button (click)="siguiente()" class="btn-primary">{{ preguntaActual === preguntas.length-1 ? 'Guardar todo' : 'Continuar ➡️' }}</button>
  </div>

  <p class="contador">{{ preguntaActual + 1 }} / {{ preguntas.length }}</p>
</div>

<div *ngIf="completado" class="mensaje-final">
  <h2>🎉 ¡Gracias por llenar el Slam! 💖</h2>
  <p>Tus respuestas fueron guardadas.</p>
</div>
